/* Estilos para a página de erro */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ff6347; /* Tom de vermelho */
  }
  
  .gear-icon {
    font-size: 4rem; /* Ajuste o tamanho conforme necessário */
    color: #333; /* Cor do ícone */
  
    /* Animação de rotação */
    animation: rotate 2s linear infinite;
  }
  
  /* Defina a animação de rotação */
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  