.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicle-section {
  width: 650px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.passages-list {
  list-style-type: none;
  padding: 0;
}

.passages-list li {
  margin-bottom: 10px;
}

.passage-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* ou qualquer outra margem desejada */
}

.passage-info span {
  flex: 1;
}
