.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.vehicle-section {
  margin-bottom: 20px;
  border: 1px solid #050505;
  padding: 10px;
  border-radius: 8px;
  width: 60%;
}

.vehicle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vehicle-header h2 {
  font-size: 18px; 
}
.toggle-button {
  background-color:#F15929;
  color: #fff;
  border: none;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.last-passage {
  font-style: italic;
  font-size: 14px;
}

.passages-list {
  list-style: none;
  padding: 0;
}

.passage-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

hr {
  border: 0.5px solid #ddd;
  margin: 5px 0;
}

