.main-box {
    background-color: #01C1B4; /* Azul claro */
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box; 
    margin: 0 auto; 
    width: 70%; 
    max-width: 1050px;
  
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  
    @media screen and (max-width: 480px) {
    width: 100%; 
    max-width: 470px; 
    }
  }
  