.box3 {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ddd;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
  }
 
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #F15929;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    font-size: 14px;
  }
  
  button:disabled {
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
  }
  